{% load static %}
<html>
<head>
    <title>Page Title from base</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Django blog from base</a></h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_view' %}">New Blog Post</a>
        </div>    
    </header>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %">Log In</a>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>